* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  width: 800px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  outline: 1px solid #000;
}

.card {
  outline: 1px solid #000;
  height: 10em;
  border-radius: 8px;
  margin: 2em;
}

ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form {
  outline: 1px solid #000;
  background: darkcyan;
  position: absolute;
  width: 21em;
  height: 23em;
  padding: 1em;
  display: none;
  .form-row,
  .input-box,
  .select-box {
    width: 100%;
  }
  .input-box {
    height: 1.8em;
    padding: 0 .3em;
  } 
  .select-box {
    height: 2em;
    padding: .2em;
  }
  button {
    margin-top: 2em;
    padding: .5em 1.6em;
    border-radius: 8px;
    border: none;
  }
}