* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 800px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  outline: 1px solid #000;
}

.card {
  outline: 1px solid #000;
  height: 10em;
  border-radius: 8px;
  margin: 2em;
}

ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}